<!DOCTYPE html>
<html>
    <head>
        <title>Riddle Me This!</title>
    </head>
    <body>
        <h2>Welcome to Riddle-Me-This {{ username }} !</h2>
        <br></br>
        <h5>Choose one option:</h5>
        <ul>
            <li>
                <link rel="stylesheet" href="" type="text/css" />
            </li>
            <li>
                <link rel="stylesheet" href="" type="text/css" />
            </li>
        </ul>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
            <button>Let's riddle!</button>
        </form>
    </body>
</html>