<!DOCTYPE html>
<html>
    <head>
        <title>Riddle Me This!</title>
    </head>
    <body>
        <h2>{{ riddle_text }}</h2>
        <form method="POST">
            <label for="answer">Guess the answer:</label>
            <input type="text" id="answer" name="answer"/>
            <button>Submit!</button>
        </form>
        <br>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {{ messages[0] }}
            {% endif %}
            {% endwith %}
        </p>
    </body>
</html>